name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true
          deno-version: lts

      - name: Lint
        run: deno lint

      - name: Format check
        run: deno fmt --check

      - name: Run tests
        run: deno test --allow-read --allow-write
